<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Description</h2>
        <ul>
            <li>Migrate from <strong>any odoo version directly to any odoo version</strong>, without giving database dump and admin password.</li>
            <li>This module is a client side module used for Odoo Migration Experts migration process.</li>
            <li>This module allows clients to generate a token which will be used to check metadata from your database, modules, customizations, number of records, in order to plan the migration with Odoo Migration Experts.</li>
            <li>This module must be installed in the <strong>destination database</strong>. It will allow read and write access to migrate data from source database.</li>
        </ul>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Configuration</h2>
        <ul>
            <li>Go to Settings -&gt; General Settings. You will see a button "Generate Token".
                Press the button to generate a Token. (screenshot below)
                <br /><br />
                <div class="oe_demo oe_screenshot">
                    <img src="token.png">
                </div>
                <br /><br />
            </li>
            <li>
                <span style="color: #339966;">For any further query please contact us at <a
                    class="o_field_email o_field_widget o_form_uri o_text_overflow"
                    target="_blank"
                    href="mailto:info@odoomigrationexperts.com"
                    name="email">Odoo Migration Experts</a>.
                </span>
            </li>
        </ul>
    </div>
</section>
